version: '3.8'
services:
  mysql-database:
    image: mysql
    volumes:
      - sqldata:/data/db
    env_file:
      - mysql.env
    # ERROR: mysql8 Client does not support authentication protocol requested by server; consider upgrading MySQL client
    # so to run typeorm we need to run the next command
    command: --default-authentication-plugin=mysql_native_password
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    ports:
      - '8081:80'
    environment:
      PMA_HOST: mysql-database
    volumes:
      - phpmyadmindata:/var/www/html:delegated
    depends_on:
      - mysql-database
  nestjs-backend:
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    volumes:
      - ./logs:/app/logs
      - ./:/app # for development
      - /app/node_modules # for development
    env_file:
      - .env
    tty: true
    depends_on:
      - mysql-database
volumes:
  sqldata:
  phpmyadmindata:
  logs: